<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-div">
        {{>header}}
        <p> I am a final year B.E student who is studying in BNMIT. Check my github for other similar projects.</p>
        <p>My github id:- https://github.com/MohammedSadiq11/</p>
    </div>
    
    {{>footer}}
</body>

</html>