<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-div">
        {{>header}}
        <p> I am a final year B.E student who is studying in BNMIT.</p>
    </div>
    
    {{>footer}}
</body>

</html>